/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wrapper {
  padding: 16px;
  height: 100vh;
  min-height: 500px;
  background: #f9faff;
  background-position: center;
  background-size: cover;
}

.container {
  min-height: 540px;
  width: 100%;
  max-width: 450px;
  margin: auto;
  background: #ffffff;
  margin-top: 50px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 10px 40px #0000002a;
  box-shadow: 0px 10px 40px #0000002a;
  padding: 30px;
  position: relative;
}

.title {
  font-weight: 700;
  text-align: center;
  font-size: 100%;
  color: #000;
}

.supplyContainer {
  padding: 20px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 10px #00000021;
  box-shadow: 0px 0px 10px #00000021;
  margin-top: 20px;
  margin-bottom: 20px;
}

.subTitle {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 70%;
  color: #afafbb;
}

.supply,
.count {
  text-align: center;
  margin-top: 10px;
  font-size: 180%;
  font-weight: 600;
  color: #000000;
}

.count {
  margin-top: 0px;
}

.btnContainer {
  margin-top: 30px;
}

.connectBtn,
.mintBtn {
  padding: 10px;
  border-radius: 50px;
  border: none;
  font-family: "Montserrat", sans-serif;
  background: #2395ff;
  color: #fff;
  -webkit-box-shadow: 0px 5px 15px #2395ffbe;
  box-shadow: 0px 5px 15px #2395ffbe;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 30px;
  left: 30px;
}

.connectBtn:hover {
  -webkit-box-shadow: 0px 5px 25px #2395ff;
  box-shadow: 0px 5px 25px #2395ff;
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.mintBtn {
  background: #ff3388;
  color: #fff;
  -webkit-box-shadow: 0px 5px 15px #ff3388c2;
  box-shadow: 0px 5px 15px #ff3388c2;
}

.mintBtn:hover {
  -webkit-box-shadow: 0px 5px 25px #ff3388;
  box-shadow: 0px 5px 25px #ff3388;
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.address {
  max-width: 320px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin: auto;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 70%;
  margin-top: 10px;
  font-weight: 500;
}

.countContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 220px;
  margin: auto;
  margin-top: 10px;
}

.changeCountBtn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px #0000002c;
  box-shadow: 0px 0px 15px #0000002c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.changeCountBtn:hover {
  -webkit-box-shadow: 0px 0px 5px #00000050, inset 0px 0px 2px #00000050;
  box-shadow: 0px 0px 5px #00000050, inset 0px 0px 2px #00000050;
}

.changeCountBtn::-moz-selection {
  background: none;
}

.changeCountBtn::selection {
  background: none;
}

.priceContainer {
  margin-top: 20px;
}

.eth {
  font-size: 60%;
}

.ethereumPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  margin-top: 10px;
}

.currPrice {
  width: 45px;
  font-size: 90%;
  margin-left: 5px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
