.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  padding: 16px;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkContainer {
  display: flex;
}

.navTitle {
  color: #fff;
  font-weight: 600;
}

.link {
  color: #fff;
  font-size: 70%;
  margin-right: 15px;
  font-weight: 500;
}
