.wrapper {
  padding: 16px;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.mapContainer {
  margin: auto;
}

.title {
  font-family: "Modak", cursive;
  font-weight: 400;
  font-size: 400%;
  text-align: center;
}

.description {
  font-size: 85%;
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 300%;
  }
  .description {
    font-size: 80%;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 220%;
  }
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
